/*  your css code here. If applicable */
body{
	background-color: #f8f8f8
}
.book-library{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	background-color: #ffffff;
	gap: 10px;
}
.book{
	display: flex;
	flex-direction: column;
	padding: 5px;
}
.author{
	color: #777777;
}
.price{
	border: none;
	background-color: #2ecc71;
}





