/*  your css code here. If applicable */
body{
	background-color: #f8f8f8
}
h1{
	text-align: center;
}
.book-library{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	background-color: #ffffff;
	box-shadow: 0px 2px 2px 2px gray;
	width: 80%;
}
.book{
	display: flex;
	flex-direction: column;
	padding: 5px;
}
.book div{
	height: 20px;
	background-color: rgb(46, 204, 113);
	color: rgb(255, 255, 255);
	border-radius: 6px;
}
div{
	color: white;
}
p{
	color: #777777;
}
.price{
	border: none;
	background-color: #2ecc71;
}





